<!DOCTYPE html>
<html>
<head>
    <title>Speech to Text</title>
</head>
<body>

	<h1>Speech to text</h1>
	
	<!-- Recording section-->
	<div style= "border: 2px solid blue; padding: 2px;">  	
		<p>Click to start recording</p>
		<!-- Button starts in the 'stopped' state, showing 'Play' -->
		<button id="recordingButton">Record</button>
		<!-- Script for recording start/stop button-->
   		<script>
			console.log("Attempt recording");
        	document.getElementById('recordingButton').addEventListener('click', recordstate);
			let mediaRecorder;
			let audioChunks = [];
			let isRecording = false;
		
			async function recordstate(){
				console.log("attempt to make recording");
				try{
					const stream = await navigator.mediaDevices.getUserMedia({audio: true});
					
					mediaRecorder = new MediaRecorder(stream);
					audioChunks = [];

					// Collect audio data as it comes in
					mediaRecorder.ondataavailable = event => {
						audioChunks.push(event.data);
					};
					
					// When stopped, create an audio file and play it back/download it
					mediaRecorder.onstop = () => {
						const audioBlob = new Blob(audioChunks, { type: 'audio/mp3' });
						const audioUrl = URL.createObjectURL(audioBlob);
					                        
						// Automatically play back the recording
						const audio = new Audio(audioUrl);
						audio.play();
					};
					
					// Update Button UI to show it is now a 'Stop' button
					recButton.textContent = "Stop Recording";
					recButton.classList.add('recording');
					isRecording = true;

				} catch (err) {
					console.log("Error: problems with recording");
				    console.error("Microphone access denied or error occurred:", err);
				    alert("Please allow microphone access to record.");
				}
		};	
    </script>
	</div>
	
	<!-- Recordings-->
	<div style= "border: 2px solid blue; padding: 2px;">
		
	</div>
	
	
	<!-- Output-->
	<div style= "border: 2px solid blue; padding: 2px;">
		<textarea placeholder="Resulting text">
		</textarea>
	</div>	
	
</body>
</html>